################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/JsonToModel/obj
/JsonToModel/bin
/JsonToModelLib/bin
/JsonToModelLib/obj
